#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = vpn3gui

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Install the main script
	install -D -m 755 vpn3gui.py debian/vpn3gui/usr/bin/vpn3gui
	# Install desktop file
	install -D -m 644 vpn3gui.desktop debian/vpn3gui/usr/share/applications/vpn3gui.desktop
	# Install icon if available
	if [ -f vpn3gui.png ]; then \
		install -D -m 644 vpn3gui.png debian/vpn3gui/usr/share/icons/hicolor/48x48/apps/vpn3gui.png; \
	fi

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3